*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #15BDAC;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  
}
.button{
  width: 400px;
  height: 400px;
  background-color: #15BDAC;
  font-size: 250px;
}
#topLeft{
  border-right: 25px solid #0DA191;
  border-bottom: 25px solid #0DA191;
  
  
}
#topRight{
  border-left: 25px solid #0DA191;
  border-bottom: 25px solid #0DA191;
}
#middleCenter{
  border: 25px solid #0DA191;
}
#bottomLeft{
  border-right: 25px solid #0DA191;
  border-top: 25px solid #0DA191;
}
#bottomRight{
  border-left: 25px solid #0DA191;
  border-top: 25px solid #0DA191;
}