*{
  margin: 0;
  padding: 0;
  border: 0;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #15BDAC;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container{
  width: 1200px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}
.button{
  width: 400px;
  height: 400px;
  background-color: #15BDAC;
  border: 25px solid #0DA191;
}